@model GanpatUni_Pro.Models.Announcement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Announcement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Announcement_Id" />
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Announcement_Date" class="control-label"></label>
                <input asp-for="Announcement_Date" class="form-control" />
                <span asp-validation-for="Announcement_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor_Id" class="control-label"></label>
                <select asp-for="Mentor_Id" class="form-control" asp-items="ViewBag.Mentor_Id"></select>
                <span asp-validation-for="Mentor_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group_Id" class="control-label"></label>
                <select asp-for="Group_Id" class="form-control" asp-items="ViewBag.Group_Id"></select>
                <span asp-validation-for="Group_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
